@model MusicPlayer_Project.ViewModels.PlaylistListViewModel

<h2>index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="Add">Add Song to playlist</a>
</p>

<table>
    <thead>
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(v => v.Playlists[0].NamePlaylist)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var playlist in Model.Playlists)
        {
            <tr>
                <td class="col-md-2">
                    @Html.DisplayFor(modelItem => playlist.NamePlaylist)
                </td>
                <td class="col-md-2">
                    <a asp-action="Edit" asp-route-id="@playlist.PlaylistID">Edit</a>
                    <a asp-action="Details" asp-route-id="@playlist.PlaylistID">Details</a>
                    <a asp-action="Delete" asp-route-id="@playlist.PlaylistID">Delete</a>
                    <a asp-action="Add" asp-route-id="@playlist.PlaylistID">Add</a>
                </td>
            </tr>
        }
    </tbody>
</table>